body {
    font-family: sans-serif;
    color: whitesmoke;
    background-color: black;
    margin: 0;
  }



.weather-banner {/*class for discription for weather app, if there is time, cause to cgange based on where people move mouse */
  display: flex; 
  background-color: rgba(39, 137, 230, 0.863);
  flex-wrap: wrap;
  justify-content: center;   
}

.weather-display { 
    display: flex; 
    background-color: rgba(221, 229, 236, 0.089);
    flex-wrap: wrap;
    justify-content: center;   
}

