body {
    font-family: sans-serif;
    color: whitesmoke;
    background-color: black;
    margin: 0;
  }


.weather-banner {/*class for discription for weather app, if there is time, cause to cgange based on where people move mouse */
  display: flex; 
  background-color: rgba(39, 137, 230, 0.863);
  flex-wrap: wrap;
  justify-content: center;   
}

.weather-display { 
    display: flex; 
    text-align: center;
    padding: 24px 32px;
    flex-wrap: wrap;
    background-color: rgba(197, 44, 6, 0.753);
    border-radius: 8px;
}



.weather-date {
  flex:1;
  text-align: left;
  padding: 24px 32px;
  background-color: rgba(22, 109, 190, 0.151);
  border-radius: 8px;
}


#pretoria-button {
  display: flex; 
  background-color: rgba(212, 126, 14, 0.829);
  flex-wrap: wrap;
  justify-content: left;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
#durban-button {
  display: flex; 
  background-color: rgba(212, 126, 14, 0.829);
  flex-wrap: wrap;
  justify-content: left;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
#capetown-button {
  display: flex; 
  background-color: rgba(212, 126, 14, 0.829);
  flex-wrap: wrap;
  justify-content: left;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}